{% extends 'base.html.twig' %}

{% block title %}Hello LandingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('app_news') }}">News Page</a>
    <h1>News Parser</h1>
    <p>Create a news parsing service from any news website with RSS feed. ✅</p>
    <h2>How to use</h2>
    <p>Generate user using interactive command - symfony console app:create-user</p>
    <p>Interactive News Parser command - symfony console news:parse</p>
    <p>Provide news platform URL e.g https://www.punchng.com and the service will automatically find the rss feed and parse</p>
    <p>Login and access the news page <a href="{{ path('app_login') }}">Login</a></p>



</div>
{% endblock %}
